:root {
    --color-grey: #aaa;
    --color-button: #eee;
    --color-button-hover: #ddd;
    --color-error: #ff0000;

    --transition: 0.2s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}
h1 {
    padding: 1rem;
    text-align: center;
}
h3 {
    line-height: 1;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    max-width: 60rem;
    padding: 0 0.5rem;
    margin: auto;
    overflow: hidden;
}
.container-content {
    max-width: 40rem;
    margin: auto;
}
.feed {
    margin: 3rem 0;
}

/* Navbar/Footer */

nav {
    border-bottom: 1px solid #000;
}

footer {
    border-top: 1px solid #000;
    font-size: 75%;
}

.nav-foot {
    display: flex;
    justify-content: space-between;
}
.nav-foot ul {
    list-style: none;
    display: flex;
}
.nav-foot li {
    padding: 1rem;
}
.nav-foot a {
    transition: var(--transition);
}
.nav-foot a:hover {
    color: var(--color-grey);
}

/* TvSeries */

.tvserie {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    margin-top: 1rem;
}
.tvserie__poster img {
    display: block;
    width: 100%;
    transition: var(--transition);
}
.tvserie__poster img:hover {
    filter: grayscale(1);
}
.tvserie__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.tvserie__content span {
    color: var(--color-grey);
}
.tvserie__content a {
    text-decoration: none;
    color: #000;
}
.tvserie__content a:hover {
    text-decoration: underline;
}
.tvserie__content div > * {
    margin-bottom: 0.5rem;
}
.tvserie__info {
    border: 1px solid var(--color-error);
    padding: 0.25rem;
    margin: 0.25rem;
}

/* Recipes */

.recipe__title {
    display: flex;
    flex-direction: row;
}
.recipe__body {
    padding: 1rem 1.5rem;
    white-space: pre-line;
}
.recipe__button {
    width: 100%;
}

/* Form */

form {
    margin: 1.5rem 0;
}
form input,
form textarea {
    width: 100%;
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.button {
    cursor: pointer;
    background: var(--color-button);
    border: none;
    padding: 0.5rem 1.5rem;
    margin-top: 4px;
    transition: var(--transition);
}
.button:hover {
    background: var(--color-button-hover);
}
.invalid-input {
    border: 1px solid var(--color-error);
}
.invalid-error {
    color: var(--color-error);
    font-size: 0.75rem;
    margin-top: -0.25rem;
    margin-bottom: 1rem;
}
