* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}
h1 {
    padding: 1rem;
    text-align: center;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    max-width: 1000px;
    padding: 0 0.5rem;
    margin: auto;
    overflow: hidden;
}
.container-content {
    max-width: 650px;
    margin: auto;
}
.spacer {
    flex: 1;
}
.feed {
    margin: 3rem 0;
}

/* Navbar/Footer */

nav {
    border-bottom: 1px solid #000;
}

footer {
    border-top: 1px solid #000;
    font-size: 75%;
}

.nav-foot {
    display: flex;
    align-items: center;
}
.nav-foot ul {
    list-style: none;
    display: flex;
}
.nav-foot li {
    padding: 1rem;
}
.nav-foot a {
    transition: 0.2s ease-in-out;
}
.nav-foot a:hover {
    color: #aaa;
}

/* TvSeries */

.tvserie {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    margin-top: 1rem;
}
.poster img {
    display: block;
    width: 100%;
    transition: 0.2s ease-in-out;
}
.poster img:hover {
    filter: grayscale(1);
}
.content {
    display: flex;
    flex-direction: column;
}
.content div {
    margin-top: 0.5rem;
}
.content span {
    color: #aaa;
}
.content a {
    text-decoration: none;
    color: #000;
}
.content a:hover {
    text-decoration: underline;
}

/* Form */

form {
    margin: 1.5rem 0 1.5rem 0;
}
form input,
form textarea {
    width: 100%;
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.button {
    cursor: pointer;
    background: #eee;
    border: none;
    padding: 0.5rem 1.5rem;
    margin-top: 4px;
    transition: 0.2s ease-in-out;
}
.button:hover {
    background: #ddd;
}
.invalid-input {
    border: 1px solid #ff0000;
}
.invalid-error {
    color: #ff0000;
    font-size: 75%;
    margin-top: -0.25rem;
    margin-bottom: 1rem;
}
.imdb-info {
    border: 1px solid #ff0000;
    padding: 0.25rem;
    margin: 0.25rem;
}

/* Recipes */

.recipe-title {
    display: flex;
    flex-direction: row;
}
.recipe-body {
    padding: 1rem 1.5rem;
    white-space: pre-line;
}
.recipe-button {
    width: 100%;
}
